workflows:
  version: 2
  wireguard_dns:
    jobs:
      - packer      

version: 2

jobs:
  packer:
    machine:
      image: ubuntu-2004:202010-01
      steps:
        - checkout
          run:
            name: Install packer
            command: sudo apt -y install packer
          restore_cache:
            key: deps1-{{ .Branch }}-{{ checksum "packer/wireguard-dns.yaml" }}
          run: 
            name: Build a snapshot with packer
            command: |
              packer build packer/wireguard-dns.yaml
          save_cache:
            key: deps1-{{ .Branch }}-{{ checksum "packer/wireguard-dns.yaml" }}

